    /* Estilos para el banner de cookies */
    #cookie-consent {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #7e2b34;
        color: #ffffff;
        padding: 20px;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, sans-serif;
        border: 4px solid #fff;
    }

    .cookie-content {
        max-width: 70%;
        font-size: 14px;
    }

    .cookie-buttons button {
        background-color: #3D9970;
        color: #ffffff;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 50px;
        border: none;
        margin: 0 5px;
        font-size: 14px;
    }

    .cookie-buttons button:nth-child(2) {
        background-color: #999494; /* color boton rechazo cookies */
    }

    #cookie-consent a { /* politica de cookies enlace */
        color: #FFDC00;
        text-decoration: none;
        font-weight: bold;
    }

    #cookie-consent a:hover {
        text-decoration: underline;
    }

    .cookie-buttons {
        flex-shrink: 0;
    }
@media (max-width: 768px) {
  #cookie-banner .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
/* Responsive styles for cookie consent banner */
@media (max-width: 600px) {
    #cookie-consent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-content {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .cookie-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cookie-buttons button {
        width: 100%;
        margin: 5px 0;
    }
}   